/* !bulma.io v0.7.4 | MIT License | github.com/jgthms/bulma */
.breadcrumb, .button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.message:not(:last-child), .level:not(:last-child), .breadcrumb:not(:last-child), .highlight:not(:last-child), .title:not(:last-child), .intro .about strong:not(:last-child), .subtitle:not(:last-child), .content:not(:last-child), .box:not(:last-child) {
  margin-bottom: 1.5rem
}

.image.is-square img {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(.375em - 1px);
  padding-left: calc(.625em - 1px);
  padding-right: calc(.625em - 1px);
  padding-top: calc(.375em - 1px);
  position: relative;
  vertical-align: top
}

.button:focus, .button:active, .is-active.button {
  outline: none
}

/*!minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css*/
html, body, p, ul, li, figure, pre, iframe, h1, h2, h3 {
  margin: 0;
  padding: 0
}

h1, h2, h3 {
  font-size: 100%;
  font-weight: 400
}

ul {
  list-style: none
}

button {
  margin: 0
}

html {
  box-sizing: border-box
}

*, *::before, *::after {
  box-sizing: inherit
}

img, iframe {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0
}

html {
  background-color: #20232a;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%
}

article, aside, figure, footer, header, section {
  display: block
}

body, button {

}

 code, pre {
   -moz-osx-font-smoothing: auto;
   -webkit-font-smoothing: auto;
   /*font-family: monospace*/
}

body {
  color: #f5f5f5;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5
}

a {
  color: #39AC60;
  cursor: pointer;
  text-decoration: none;
  font-size: 21px;
}

a strong {
  color: currentColor
}

a:hover {
  color: #fff
}

code {
  background-color: #f5f5f5;
  color: #ff3860;
  font-size: .875em;
  font-weight: 400;
  padding: .25em .5em
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  margin-left: 5px;
  border-style: none;
}

/*span {
  font-style: inherit;
  font-weight: inherit
}*/

strong {
  /* font-family: 'Roboto', sans-serif; */
  color: #363636;
  font-weight: 400
}

pre {
  -webkit-overflow-scrolling: touch;
  background-color: #f5f5f5;
  color: #4a4a4a;
  font-size: .875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal
}

pre code {
  background-color: initial;
  color: currentColor;
  font-size: 1em;
  padding: 0
}

.is-size-4 {
  font-size: 1.5rem !important
}

.is-size-5 {
  font-size: 1.25rem !important
}

.is-size-6 {
  font-size: 1rem !important
}

.is-size-7 {
  font-size: .75rem !important
}

@media screen and (max-width: 768px) {
  .is-size-2-mobile {
    font-size: 35px !important
  }

  .is-size-3-mobile {
    font-size: 25px !important
  }

  .is-size-5-mobile {
    font-size: 1.25rem !important
  }

  .is-size-6-mobile {
    font-size: 1rem !important
  }
}

@media screen and (min-width: 1088px) {
  .is-size-5-desktop {
    font-size: 1.25rem !important
  }
}

.has-text-grey {
  color: #7a7a7a !important
}

.has-text-weight-semibold {
  font-weight: 600 !important
}

@media screen and (max-width: 768px) {
  .button {
    margin-top: 10px;
  }
  .is-block-mobile {
    display: block !important
  }
}

.is-flex {
  display: flex !important
}

.is-inline {
  display: inline !important
}

.is-inline-block {
  display: inline-block !important
}

@media screen and (max-width: 768px) {
  .is-hidden-mobile {
    display: none !important
  }
}

@media screen and (max-width: 1087px) {
  .is-hidden-touch {
    display: none !important
  }
}

@media screen and (min-width: 1088px) {
  .is-hidden-desktop {
    display: none !important
  }
}

.is-marginless {
  margin: 0 !important
}

.box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem
}

a.box:hover, a.box:focus {
  box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px #3273dc
}

a.box:active {
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, .2), 0 0 0 1px #3273dc
}

.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding: calc(.375em - 1px) .75em;
  margin-right: 5px;
  text-align: center;
  white-space: nowrap
}

.button strong {
  color: inherit
}

.button .icon, .button .icon.is-medium {
  height: 1.5em;
  width: 1.5em
}

.button .icon:first-child:not(:last-child) {
  margin-left: calc(-.375em - 1px);
  margin-right: .1875em
}

.button .icon:last-child:not(:first-child) {
  margin-left: .1875em;
  margin-right: calc(-.375em - 1px)
}

.button .icon:first-child:last-child {
  margin-left: calc(-.375em - 1px);
  margin-right: calc(-.375em - 1px)
}

.button:hover {
  border-color: #b5b5b5;
  color: #363636
}

.button:focus {
  border-color: #3273dc;
  color: #363636
}

.button:focus:not(:active) {
  box-shadow: 0 0 0 .125em rgba(50, 115, 220, .25)
}

.button:active, .button.is-active {
  border-color: #4a4a4a;
  color: #363636
}

.button.is-link {
  background-color: #3273dc;
  border-color: transparent;
  color: #fff
}

.button.is-link:hover {
  background-color: #276cda;
  border-color: transparent;
  color: #fff
}

.button.is-link:focus {
  border-color: transparent;
  color: #fff
}

.button.is-link:focus:not(:active) {
  box-shadow: 0 0 0 .125em rgba(50, 115, 220, .25)
}

.button.is-link:active, .button.is-link.is-active {
  background-color: #2366d1;
  border-color: transparent;
  color: #fff
}

.button.is-warning {
  background-color: #ffdd57;
  border-color: transparent;
  color: rgba(0, 0, 0, .7)
}

.button.is-warning:hover {
  background-color: #ffdb4a;
  border-color: transparent;
  color: rgba(0, 0, 0, .7)
}

.button.is-warning:focus {
  border-color: transparent;
  color: rgba(0, 0, 0, .7)
}

.button.is-warning:focus:not(:active) {
  box-shadow: 0 0 0 .125em rgba(255, 221, 87, .25)
}

.button.is-warning:active, .button.is-warning.is-active {
  background-color: #ffd83d;
  border-color: transparent;
  color: rgba(0, 0, 0, .7)
}

.button.is-medium {
  font-size: 1.25rem
}

.button.is-rounded {
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start
}

.buttons .button {
  margin-bottom: .5rem
}

.buttons .button:not(:last-child):not(.is-fullwidth) {
  margin-right: .5rem
}

.buttons:last-child {
  margin-bottom: -.5rem
}

.buttons:not(:last-child) {
  margin-bottom: 1rem
}

.buttons.are-medium .button:not(.is-small):not(.is-normal):not(.is-large) {
  font-size: 1.25rem
}

.buttons.are-large .button:not(.is-small):not(.is-normal):not(.is-medium) {
  font-size: 1.5rem
}

.buttons.is-centered {
  justify-content: center
}

.container {
  margin: 0 auto;
  position: relative
}

@media screen and (min-width: 1088px) {
  .container {
    max-width: 960px;
    width: 960px
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1152px;
    width: 1152px
  }
}

@media screen and (min-width: 1472px) {
  .container {
    max-width: 1344px;
    width: 1344px
  }
}

.content li + li {
  margin-top: .25em
}

.content p:not(:last-child), .content ul:not(:last-child), .content pre:not(:last-child) {
  margin-bottom: 1em
}

.content h1, .content h2, .content h3 {
  color: #363636;
  font-weight: 600;
  line-height: 1.125
}

.content h1 {
  font-size: 2em;
  margin-bottom: .5em
}

.content h1:not(:first-child) {
  margin-top: 1em
}

.content h2 {
  font-size: 1.75em;
  margin-bottom: .5714em
}

.content h2:not(:first-child) {
  margin-top: 1.1428em
}

.content h3 {
  font-size: 1.5em;
  margin-bottom: .6666em
}

.content h3:not(:first-child) {
  margin-top: 1.3333em
}

.content ul {
  list-style: disc outside;
  margin-left: 2em;
  margin-top: 1em
}

.content ul ul {
  list-style-type: circle;
  margin-top: .5em
}

.content ul ul ul {
  list-style-type: square
}

.content figure {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center
}

.content figure:not(:first-child) {
  margin-top: 2em
}

.content figure:not(:last-child) {
  margin-bottom: 2em
}

.content figure img {
  display: inline-block
}

.content pre {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  padding: 1.25em 1.5em;
  white-space: pre;
  word-wrap: normal
}

.content sup {
  font-size: 75%
}

.content.is-medium {
  font-size: 1.25rem
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem
}

.icon.is-medium {
  height: 2rem;
  width: 2rem
}

.image {
  display: block;
  position: relative
}

.image img {
  display: block;
  height: auto;
  width: 100%
}

.image img.is-rounded {
  border-radius: 290486px
}

.image.is-square img {
  height: 100%;
  width: 100%
}

.image.is-square {
  padding-top: 100%
}

.image.is-48x48 {
  height: 48px;
  width: 48px
}

.image.is-64x64 {
  height: 64px;
  width: 64px
}

.tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start
}

.tags .tag {
  margin-bottom: .5rem
}

.tags .tag:not(:last-child) {
  margin-right: .5rem
}

.tags:last-child {
  margin-bottom: -.5rem
}

.tags:not(:last-child) {
  margin-bottom: 1rem
}

.tags.are-medium .tag:not(.is-normal):not(.is-large) {
  font-size: 1rem
}

.tags.are-large .tag:not(.is-normal):not(.is-medium) {
  font-size: 1.25rem
}

.tags.is-centered {
  justify-content: center
}

.tags.is-centered .tag {
  margin-right: .25rem;
  margin-left: .25rem
}

.tag:not(body) {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 4px;
  color: #4a4a4a;
  display: inline-flex;
  font-size: .75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: .75em;
  padding-right: .75em;
  white-space: nowrap
}

.tag.is-link:not(body) {
  background-color: #3273dc;
  color: #fff
}

.tag.is-warning:not(body) {
  background-color: #ffdd57;
  color: rgba(0, 0, 0, .7)
}

.tag.is-medium:not(body) {
  font-size: 1rem
}

.tag:not(body) .icon:first-child:not(:last-child) {
  margin-left: -.375em;
  margin-right: .1875em
}

.tag:not(body) .icon:last-child:not(:first-child) {
  margin-left: .1875em;
  margin-right: -.375em
}

.tag:not(body) .icon:first-child:last-child {
  margin-left: -.375em;
  margin-right: -.375em
}

.tag.is-rounded:not(body) {
  border-radius: 290486px
}

a.tag:hover {
  text-decoration: underline
}

.title, .intro .about strong, .subtitle {
  word-break: break-word
}

.title em, .intro .about strong em, .title span, .intro .about strong span, .subtitle em, .subtitle span {
  font-weight: inherit
}

.title sup, .intro .about strong sup, .subtitle sup {
  font-size: .75em
}

.title .tag, .intro .about strong .tag, .subtitle .tag {
  vertical-align: middle
}

.title, .intro .about strong {
  color: #f5f5f5;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.125
}

.title strong, .intro .about strong strong {
  color: inherit;
  font-weight: inherit
}

.title + .highlight, .intro .about strong + .highlight {
  margin-top: -.75rem
}

.title:not(.is-spaced) + .subtitle, .intro .about strong:not(.is-spaced) + .subtitle {
  margin-top: -1.25rem
}

.title.is-1, .intro .about strong.is-1 {
  font-size: 50px
}

.title.is-2, .intro .about strong.is-2 {
  font-size: 35px
}

.title.is-3, .intro .about strong.is-3 {
  font-size: 25px
}

.title.is-4, .intro .about strong.is-4 {
  font-size: 30px;
  font-weight: 700

}

.title.is-5, .intro .about strong.is-5 {
  font-size: 1.25rem
}

.subtitle {
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25
}

.subtitle strong {
  color: #363636;
  font-weight: 600
}

.subtitle:not(.is-spaced) + .title, .intro .about .subtitle:not(.is-spaced) + strong {
  margin-top: -1.25rem
}

.subtitle.is-1 {
  font-size: 50px
}

.subtitle.is-2 {
  font-size: 35px
}

.subtitle.is-3 {
  font-size: 25px
}

.subtitle.is-4 {
  font-size: 1.5rem
}

.subtitle.is-5 {
  font-size: 1.25rem
}

.highlight {
  font-weight: 400;
  max-width: 100%;
  overflow: hidden;
  padding: 0
}

.highlight pre {
  overflow: auto;
  max-width: 100%
}

.breadcrumb {
  font-size: 1rem;
  white-space: nowrap
}

.breadcrumb a {
  align-items: center;
  color: #3273dc;
  display: flex;
  justify-content: center;
  padding: 0 .75em
}

.breadcrumb a:hover {
  color: #f5f5f5
}

.breadcrumb li {
  align-items: center;
  display: flex
}

.breadcrumb li:first-child a {
  padding-left: 0
}

.breadcrumb li.is-active a {
  color: #363636;
  cursor: default;
  pointer-events: none
}

.breadcrumb li + li::before {
  color: #b5b5b5;
  content: "\0002f"
}

.breadcrumb ul {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start
}

.breadcrumb .icon:first-child {
  margin-right: .5em
}

.breadcrumb .icon:last-child {
  margin-left: .5em
}

.breadcrumb.is-centered ul {
  justify-content: center
}

.breadcrumb.is-medium {
  font-size: 1.25rem
}

.level {
  align-items: center;
  justify-content: space-between
}

.level code {
  border-radius: 4px
}

.level img {
  display: inline-block;
  vertical-align: top
}

@media screen and (min-width: 769px), print {
  .level {
    display: flex
  }

  .level > .level-item:not(.is-narrow) {
    flex-grow: 1
  }
}

.level-item {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center
}

.level-item .title, .level-item .intro .about strong, .intro .about .level-item strong, .level-item .subtitle {
  margin-bottom: 0
}

@media screen and (max-width: 768px) {
  .level-item:not(:last-child) {
    margin-bottom: .75rem
  }
}

.level-left, .level-right {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0
}

@media screen and (min-width: 769px), print {
  .level-left .level-item:not(:last-child), .level-right .level-item:not(:last-child) {
    margin-right: .75rem
  }
}

.level-left {
  align-items: center;
  justify-content: flex-start
}

@media screen and (max-width: 768px) {
  .level-left + .level-right {
    margin-top: 1.5rem
  }
}

@media screen and (min-width: 769px), print {
  .level-left {
    display: flex
  }
}

.level-right {
  align-items: center;
  justify-content: flex-end
}

@media screen and (min-width: 769px), print {
  .level-right {
    display: flex
  }
}

.media {
  align-items: flex-start;
  display: flex;
  text-align: left
}

.media .content:not(:last-child) {
  margin-bottom: .75rem
}

.media .media {
  border-top: 1px solid rgba(219, 219, 219, .5);
  display: flex;
  padding-top: .75rem
}

.media .media .content:not(:last-child) {
  margin-bottom: .5rem
}

.media .media .media {
  padding-top: .5rem
}

.media .media .media + .media {
  margin-top: .5rem
}

.media + .media {
  border-top: 1px solid rgba(219, 219, 219, .5);
  margin-top: 1rem;
  padding-top: 1rem
}

.media-left {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0
}

.media-left {
  margin-right: 1rem
}

.media-content {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left
}

@media screen and (max-width: 768px) {
  .media-content {
    overflow-x: auto
  }
}

.menu {
  font-size: 1rem
}

.menu.is-medium {
  font-size: 1.25rem
}

.menu-list {
  line-height: 1.25
}

.menu-list a {
  border-radius: 2px;
  color: #4a4a4a;
  display: block;
  padding: .5em .75em
}

.menu-list a:hover {
  background-color: #f5f5f5;
  color: #363636
}

.menu-list a.is-active {
  background-color: #3273dc;
  color: #fff
}

.menu-list li ul {
  border-left: 1px solid #dbdbdb;
  margin: .75em;
  padding-left: .75em
}

.menu-label {
  color: #7a7a7a;
  font-size: .75em;
  letter-spacing: .1em;
  text-transform: uppercase
}

.menu-label:not(:first-child) {
  margin-top: 1em
}

.menu-label:not(:last-child) {
  margin-bottom: 1em
}

.message {
  background-color: #f5f5f5;
  border-radius: 4px;
  font-size: 1rem
}

.message strong {
  color: currentColor
}

.message a:not(.button):not(.tag):not(.dropdown-item) {
  color: currentColor;
  text-decoration: underline
}

.message.is-medium {
  font-size: 1.25rem
}

.message.is-link {
  background-color: #f6f9fe
}

.message.is-link .message-body {
  border-color: #3273dc;
  color: #22509a
}

.message.is-warning {
  background-color: #fffdf5
}

.message.is-warning .message-body {
  border-color: #ffdd57;
  color: #3b3108
}

.message-body {
  border-color: #dbdbdb;
  border-radius: 4px;
  border-style: solid;
  border-width: 0 0 0 4px;
  color: #4a4a4a;
  padding: 1.25em 1.5em
}

.message-body code, .message-body pre {
  background-color: #fff
}

.message-body pre code {
  background-color: initial
}

.navbar {
  background-color: #20232a;
  min-height: 3.25rem;
  position: relative;
  z-index: 30
}

.navbar.is-link {
  background-color: #3273dc;
  color: #fff
}

.navbar.is-link .navbar-brand > .navbar-item {
  color: #fff
}

.navbar.is-link .navbar-brand > a.navbar-item:hover, .navbar.is-link .navbar-brand > a.navbar-item.is-active {
  background-color: #2366d1;
  color: #fff
}

.navbar.is-link .navbar-burger {
  color: #fff
}

@media screen and (min-width: 1088px) {
  .navbar.is-link .navbar-start > .navbar-item, .navbar.is-link .navbar-end > .navbar-item {
    color: #fff
  }

  .navbar.is-link .navbar-start > a.navbar-item:hover, .navbar.is-link .navbar-start > a.navbar-item.is-active, .navbar.is-link .navbar-end > a.navbar-item:hover, .navbar.is-link .navbar-end > a.navbar-item.is-active {
    background-color: #2366d1;
    color: #fff
  }
}

.navbar.is-warning {
  background-color: #ffdd57;
  color: rgba(0, 0, 0, .7)
}

.navbar.is-warning .navbar-brand > .navbar-item {
  color: rgba(0, 0, 0, .7)
}

.navbar.is-warning .navbar-brand > a.navbar-item:hover, .navbar.is-warning .navbar-brand > a.navbar-item.is-active {
  background-color: #ffd83d;
  color: rgba(0, 0, 0, .7)
}

.navbar.is-warning .navbar-burger {
  color: rgba(0, 0, 0, .7)
}

@media screen and (min-width: 1088px) {
  .navbar.is-warning .navbar-start > .navbar-item, .navbar.is-warning .navbar-end > .navbar-item {
    color: rgba(0, 0, 0, .7)
  }

  .navbar.is-warning .navbar-start > a.navbar-item:hover, .navbar.is-warning .navbar-start > a.navbar-item.is-active, .navbar.is-warning .navbar-end > a.navbar-item:hover, .navbar.is-warning .navbar-end > a.navbar-item.is-active {
    background-color: #ffd83d;
    color: rgba(0, 0, 0, .7)
  }
}

.navbar > .container {
  align-items: stretch;
  display: flex;
  min-height: 3.25rem;
  width: 100%
}

.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem
}

.navbar-brand a.navbar-item:hover {
  background-color: initial
}

.navbar-burger {
  color: #4a4a4a;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto
}

.navbar-burger span {
  background-color: currentColor;
  display: block;
  height: 1px;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 16px
}

.navbar-burger span:nth-child(1) {
  top: calc(50% - 6px)
}

.navbar-burger span:nth-child(2) {
  top: calc(50% - 1px)
}

.navbar-burger span:nth-child(3) {
  top: calc(50% + 4px)
}

.navbar-burger:hover {
  background-color: rgba(0, 0, 0, 5%)
}

.navbar-burger.is-active span:nth-child(1) {
  transform: translateY(5px) rotate(45deg)
}

.navbar-burger.is-active span:nth-child(2) {
  opacity: 0
}

.navbar-burger.is-active span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg)
}

.navbar-menu {
  display: none
}

.navbar-item {
  color: #4a4a4a;
  display: block;
  line-height: 1.5;
  padding: .5rem .75rem;
  position: relative
}

.navbar-item .icon:only-child {
  margin-left: -.25rem;
  margin-right: -.25rem
}

a.navbar-item {
  cursor: pointer
}

a.navbar-item:hover, a.navbar-item.is-active {
  background-color: #fafafa;
  color: #3273dc
}

.navbar-item {
  display: block;
  flex-grow: 0;
  flex-shrink: 0
}

.navbar-item img {
  max-height: 1.75rem
}

@media screen and (max-width: 1087px) {
  .navbar > .container {
    display: block
  }

  .navbar-brand .navbar-item {
    align-items: center;
    display: flex
  }

  .navbar-menu {
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(10, 10, 10, .1);
    padding: .5rem 0
  }

  .navbar-menu.is-active {
    display: block
  }
}

@media screen and (min-width: 1088px) {
  .navbar, .navbar-menu, .navbar-start, .navbar-end {
    align-items: stretch;
    display: flex
  }

  .navbar {
    min-height: 3.25rem
  }

  .navbar.is-spaced {
    padding: 1rem 2rem
  }

  .navbar.is-spaced .navbar-start, .navbar.is-spaced .navbar-end {
    align-items: center
  }

  .navbar.is-spaced a.navbar-item {
    border-radius: 4px
  }

  .navbar-burger {
    display: none
  }

  .navbar-item {
    align-items: center;
    display: flex
  }

  .navbar-item {
    display: flex
  }

  .navbar-menu {
    flex-grow: 1;
    flex-shrink: 0
  }

  .navbar-start {
    justify-content: flex-start;
    margin-right: auto
  }

  .navbar-end {
    justify-content: flex-end;
    margin-left: auto
  }

  .navbar > .container .navbar-brand, .container > .navbar .navbar-brand {
    margin-left: -.75rem
  }

  .navbar > .container .navbar-menu, .container > .navbar .navbar-menu {
    margin-right: -.75rem
  }

  a.navbar-item.is-active {
    color: #0a0a0a
  }

  a.navbar-item.is-active:not(:hover) {
    background-color: initial
  }
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: .75rem
}

@media screen and (min-width: 769px), print {
  .column.is-one-third {
    flex: none;
    width: 33.3333%
  }

  .column.is-1 {
    flex: none;
    width: 8.33333333%
  }

  .column.is-2 {
    flex: none;
    width: 16.66666667%
  }

  .column.is-3 {
    flex: none;
    width: 25%
  }

  .column.is-4 {
    flex: none;
    width: 33.33333333%
  }

  .column.is-5 {
    flex: none;
    width: 41.66666667%
  }

  .column.is-8 {
    flex: none;
    width: 66.66666667%
  }

  .column.is-10 {
    flex: none;
    width: 83.33333333%
  }
}

.columns {
  margin-left: -.75rem;
  margin-right: -.75rem;
  margin-top: -.75rem
}

.columns:last-child {
  margin-bottom: -.75rem
}

.columns:not(:last-child) {
  margin-bottom: calc(1.5rem - .75rem)
}

.columns.is-centered {
  justify-content: center
}

@media screen and (min-width: 769px), print {
  .columns:not(.is-desktop) {
    display: flex
  }
}

.tile {
  align-items: stretch;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content
}

.tile.is-ancestor {
  margin-left: -.75rem;
  margin-right: -.75rem;
  margin-top: -.75rem
}

.tile.is-ancestor:last-child {
  margin-bottom: -.75rem
}

.tile.is-ancestor:not(:last-child) {
  margin-bottom: .75rem
}

.tile.is-parent {
  padding: .75rem
}

@media screen and (min-width: 769px), print {
  .tile:not(.is-child) {
    display: flex
  }

  .tile.is-1 {
    flex: none;
    width: 8.33333333%
  }

  .tile.is-2 {
    flex: none;
    width: 16.66666667%
  }

  .tile.is-3 {
    flex: none;
    width: 25%
  }

  .tile.is-4 {
    flex: none;
    width: 33.33333333%
  }

  .tile.is-5 {
    flex: none;
    width: 41.66666667%
  }

  .tile.is-8 {
    flex: none;
    width: 66.66666667%
  }

  .tile.is-10 {
    flex: none;
    width: 83.33333333%
  }
}

.section {
  padding: 3rem 1.5rem
}

@media screen and (min-width: 1088px) {
  .section.is-medium {
    padding: 9rem 1.5rem
  }
}

.footer {
  background-color: #121212;
  padding: 3rem 1.5rem 6rem
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column
}

body .main {
  flex: 1
}

@media screen and (max-width: 768px) {
  body .main {
    padding-top: 0
  }
}

header .navbar-start {
  align-items: center
}

@media screen and (max-width: 768px) {
  .navbar {
    margin: -.75rem
  }
}

.navbar-item .navbar-item-name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900
}

.navbar-brand .navbar-item img {
  max-height: initial
}

.intro .about {
  margin-bottom: 5rem
}

.about {
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .intro .about {
    margin-bottom: 3rem;
    margin-top: -2rem
  }
}

.intro .about strong {
  font-size: 44px;
  font-weight: 800
}

@media screen and (max-width: 768px) {
  .intro .about strong {
    font-size: 30px
  }
}

.intro .about p {
  font-size: 1.5rem
}

.navbar-burger {
  width: 4rem;
  height: 4rem
}

.title.is-1, .intro .about strong.is-1, .title.is-2, .intro .about strong.is-2 {
  font-weight: 900
}

.content p {
  font-size: 20px;
  margin: 0 0 23px;
  line-height: 31px
}

@media screen and (max-width: 768px) {
  .content p {
    font-size: 20px;
    margin: 0 0 24px;
    line-height: 30px
  }
}

.content .box.social .title, .content .box.social .intro .about strong, .intro .about .content .box.social strong {
  font-weight: 800;
  font-size: 30px;
  margin-bottom: .5rem
}

.above-title {
  margin-bottom: .5rem !important
}

article.post .content, article.place .content {
  margin-top: 3rem
}

.post .tags.is-spaced {
  margin-bottom: 3rem
}

.post .under-post-navigation ul.is-flex {
  justify-content: space-between
}

.post .under-post-navigation ul.is-flex li {
  margin: 0 -.75rem
}

.css-column {
  -moz-column-count: 4;
  column-count: 4;
  -moz-column-width: 30rem;
  column-width: 30rem;
  -moz-column-gap: 40px;
  column-gap: 40px;
  margin-top: 2rem
}

@media screen and (min-width: 1088px) {
  .css-column {
    -moz-column-width: 1rem;
    column-width: 1rem
  }
}

.is-mobile-columns {
  display: flex
}

@media screen and (max-width: 768px) {
  .is-mobile-columns {
    flex-direction: column
  }
}

#TableOfContents ul {
  margin-left: 1rem
}

#TableOfContents ul li {
  font-size: 1rem;
  list-style: disc
}

#TableOfContents > ul > li {
  margin-bottom: .5rem
}

#TableOfContents ul ul li {
  font-size: .95rem;
  list-style: outside circle
}

.copy {
  flex-flow: column;
  align-items: flex-start
}

.footer {
  padding-bottom: 3rem
}

.visited {
  position: relative;
  top: -.3rem;
  margin-left: 1rem
}

@media screen and (max-width: 768px) {
  .visited {
    margin-left: 0;
    margin-top: 1rem
  }
}

.subsections:last-child {
  margin-bottom: 3rem
}

.is-link {
  padding: 2px;
  margin: -2px;
  border-bottom: 1px solid #dbdbdb
}

.is-link:hover, .is-link:active {
  border-color: #b5b5b5
}