/* Запретить выделение текста у кнопок */
.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.my-projects {
  font-size: 30px;
  font-weight: 600;
  margin-top: 34px;
  margin-bottom: 15px;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding: calc(.375em - 1px) calc(.625em - 1px);
  position: relative;
  vertical-align: top
}

.button:focus, .button:active, .is-active.button {
  outline: none
}

/*!minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css*/
html, body, p, ul, li, figure, pre, iframe, h1, h2, h3 {
  margin: 0;
  padding: 0
}

h1, h2, h3 {
  font-size: 100%;
  font-weight: 400
}

ul {
  list-style: none
}

html {
  box-sizing: border-box
}

*, *::before, *::after {
  box-sizing: inherit
}


html {
  background-color: #20232a;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%
}

body {
  color: #f5f5f5;
  font-family: Rubik, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5
}

a {
  color: #0eb547;
  cursor: pointer;
  text-decoration: none;
  font-size: 24px;
}

a:hover {
  color: #ffffff
}

/*Иконки рядом с текстом*/
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  margin-left: 5px;
  border-style: none;
}

strong {
  color: #363636;
  font-weight: 600
}

pre {
  -webkit-overflow-scrolling: touch;
  background-color: #f5f5f5;
  color: #4a4a4a;
  font-size: .875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal
}

pre code {
  background-color: initial;
  color: currentColor;
  font-size: 1em;
  padding: 0
}

.is-size-4 {
  font-size: 1.5rem !important
}

.is-size-5 {
  font-size: 1.25rem !important
}

.is-size-6 {
  font-size: 1rem !important
}

.is-size-7 {
  font-size: .75rem !important
}

@media screen and (max-width: 768px) {
  .is-size-2-mobile {
    font-size: 35px !important
  }

  .is-size-3-mobile {
    font-size: 25px !important
  }

  .is-size-5-mobile {
    font-size: 1.25rem !important
  }

  .is-size-6-mobile {
    font-size: 1rem !important
  }
}

@media screen and (min-width: 1088px) {
  .is-size-5-desktop {
    font-size: 1.25rem !important
  }
}

.has-text-grey {
  color: #7a7a7a !important
}

.has-text-weight-semibold {
  font-weight: 600 !important
}

@media screen and (max-width: 768px) {
  .button {
    margin-top: 10px;
  }
  .is-block-mobile {
    display: block !important
  }
}

.is-flex {
  display: flex !important
}

.is-inline {
  display: inline !important
}

.is-inline-block {
  display: inline-block !important
}

@media screen and (max-width: 768px) {
  .is-hidden-mobile {
    display: none !important
  }
}

@media screen and (max-width: 1087px) {
  .is-hidden-touch {
    display: none !important
  }
}

@media screen and (min-width: 1088px) {
  .is-hidden-desktop {
    display: none !important
  }
}

.is-marginless {
  margin: 0 !important
}

.box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem
}

a.box:hover, a.box:focus {
  box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px #3273dc
}

a.box:active {
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, .2), 0 0 0 1px #3273dc
}

.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding: calc(.375em - 1px) .75em;
  margin-right: 5px;
  text-align: center;
  white-space: nowrap
}

.button strong {
  color: inherit
}

.button .icon, .button .icon.is-medium {
  height: 1.5em;
  width: 1.5em
}

.button .icon:first-child:not(:last-child) {
  margin-left: calc(-.375em - 1px);
  margin-right: .1875em
}

.button .icon:last-child:not(:first-child) {
  margin-left: .1875em;
  margin-right: calc(-.375em - 1px)
}

.button .icon:first-child:last-child {
  margin-left: calc(-.375em - 1px);
  margin-right: calc(-.375em - 1px)
}

.button:hover {
  border-color: #b5b5b5;
  color: #363636
}

.button:focus {
  border-color: #3273dc;
  color: #363636
}

.button:focus:not(:active) {
  box-shadow: 0 0 0 .125em rgba(50, 115, 220, .25)
}

.button:active, .button.is-active {
  border-color: #4a4a4a;
  color: #363636
}

.button.is-link {
  background-color: #3273dc;
  border-color: transparent;
  color: #fff
}

.button.is-link:hover {
  background-color: #276cda;
  border-color: transparent;
  color: #fff
}

.button.is-link:focus {
  border-color: transparent;
  color: #fff
}

.button.is-link:focus:not(:active) {
  box-shadow: 0 0 0 .125em rgba(50, 115, 220, .25)
}

.button.is-link:active, .button.is-link.is-active {
  background-color: #2366d1;
  border-color: transparent;
  color: #fff
}

.button.is-warning {
  background-color: #ffdd57;
  border-color: transparent;
  color: rgba(0, 0, 0, .7)
}

.button.is-warning:hover {
  background-color: #ffdb4a;
  border-color: transparent;
  color: rgba(0, 0, 0, .7)
}

.button.is-warning:focus {
  border-color: transparent;
  color: rgba(0, 0, 0, .7)
}

.button.is-warning:focus:not(:active) {
  box-shadow: 0 0 0 .125em rgba(255, 221, 87, .25)
}

.button.is-warning:active, .button.is-warning.is-active {
  background-color: #ffd83d;
  border-color: transparent;
  color: rgba(0, 0, 0, .7)
}

.button.is-medium {
  font-size: 24px
}

.button.is-rounded {
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start
}

.buttons .button {
  margin-bottom: .5rem
}

.buttons .button:not(:last-child):not(.is-fullwidth) {
  margin-right: .5rem
}

.buttons:last-child {
  margin-bottom: -.5rem
}

.buttons:not(:last-child) {
  margin-bottom: 1rem
}

.buttons.are-medium .button:not(.is-small):not(.is-normal):not(.is-large) {
  font-size: 1.25rem
}

.buttons.are-large .button:not(.is-small):not(.is-normal):not(.is-medium) {
  font-size: 1.5rem
}

.buttons.is-centered {
  justify-content: center
}

.container {
  margin: 0 auto;
  position: relative
}

@media screen and (min-width: 1088px) {
  .container {
    max-width: 960px;
    width: 960px
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1152px;
    width: 1152px
  }
}

@media screen and (min-width: 1472px) {
  .container {
    max-width: 1344px;
    width: 1344px
  }
}

.content li + li {
  margin-top: .25em
}

.content p:not(:last-child), .content ul:not(:last-child), .content pre:not(:last-child) {
  margin-bottom: 1em
}

.content h1, .content h2, .content h3 {
  color: #363636;
  font-weight: 600;
  line-height: 1.125
}

.content h1 {
  font-size: 2em;
  margin-bottom: .5em
}

.content h1:not(:first-child) {
  margin-top: 1em
}

.content h2 {
  font-size: 1.75em;
  margin-bottom: .5714em
}

.content h2:not(:first-child) {
  margin-top: 1.1428em
}

.content h3 {
  font-size: 1.5em;
  margin-bottom: .6666em
}

.content h3:not(:first-child) {
  margin-top: 1.3333em
}

.content ul {
  list-style: disc outside;
  margin-left: 2em;
  margin-top: 1em
}

.content ul ul {
  list-style-type: circle;
  margin-top: .5em
}

/*Иконки в кнопках*/
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem
}

.icon.is-medium {
  height: 2rem;
  width: 2rem
}

.title, .intro .about strong, .subtitle {
  word-break: break-word
}

.title em, .intro .about strong em, .title span, .intro .about strong span, .subtitle em, .subtitle span {
  font-weight: inherit
}

.title sup, .intro .about strong sup, .subtitle sup {
  font-size: .75em
}

.title .tag, .intro .about strong .tag, .subtitle .tag {
  vertical-align: middle
}

.title, .intro .about strong {
  color: #f5f5f5;
  font-size: 44px;
  font-weight: 600;
  line-height: 1.125
}

.section {
  padding: 3rem 1.5rem
}

footer {
  background-color: #131c2c;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  padding: 13px 0;
  position: absolute;
  width: 100%;
}

body {
  background: linear-gradient(265deg, #18705c 0%, #270b3e 100%);
  display: flex;
  min-height: 100vh;
  flex-direction: column
}

body .main {
  flex: 1
}

@media screen and (max-width: 768px) {
  body .main {
    padding-top: 0
  }
}

header .navbar-start {
  align-items: center
}

@media screen and (max-width: 768px) {
  .navbar {
    margin: -.75rem
  }
}

.navbar-item .navbar-item-name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900
}

.navbar-brand .navbar-item img {
  max-height: initial
}

.intro .about {
  margin-bottom: 5rem
}

.about {
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .intro .about {
    margin-bottom: 3rem;
    margin-top: -2rem
  }
}

@media screen and (max-width: 768px) {
  .intro .about strong {
    font-size: 30px
  }
}

.intro .about p {
  font-size: 1.5rem
}

.navbar-burger {
  width: 4rem;
  height: 4rem
}

.title.is-1, .intro .about strong.is-1, .title.is-2, .intro .about strong.is-2 {
  font-weight: 900
}

.content p {
  font-size: 20px;
  margin: 0 0 23px;
  line-height: 31px
}

@media screen and (max-width: 768px) {
  .content p {
    font-size: 20px;
    margin: 0 0 24px;
    line-height: 30px
  }
}

.content .box.social .title, .content .box.social .intro .about strong, .intro .about .content .box.social strong {
  font-weight: 800;
  font-size: 30px;
  margin-bottom: .5rem
}

.above-title {
  margin-bottom: .5rem !important
}

article.post .content, article.place .content {
  margin-top: 3rem
}

.post .tags.is-spaced {
  margin-bottom: 3rem
}

.post .under-post-navigation ul.is-flex {
  justify-content: space-between
}

.post .under-post-navigation ul.is-flex li {
  margin: 0 -.75rem
}

.css-column {
  -moz-column-count: 4;
  column-count: 4;
  -moz-column-width: 30rem;
  column-width: 30rem;
  -moz-column-gap: 40px;
  column-gap: 40px;
  margin-top: 2rem
}

@media screen and (min-width: 1088px) {
  .css-column {
    -moz-column-width: 1rem;
    column-width: 1rem
  }
}

.is-mobile-columns {
  display: flex
}

@media screen and (max-width: 768px) {
  .is-mobile-columns {
    flex-direction: column
  }
}

#TableOfContents ul {
  margin-left: 1rem
}

#TableOfContents ul li {
  font-size: 1rem;
  list-style: disc
}

#TableOfContents > ul > li {
  margin-bottom: .5rem
}

#TableOfContents ul ul li {
  font-size: .95rem;
  list-style: outside circle
}

.copy {
  flex-flow: column;
  align-items: flex-start
}

.footer {
  padding-bottom: 3rem
}

.visited {
  position: relative;
  top: -.3rem;
  margin-left: 1rem
}

@media screen and (max-width: 768px) {
  .visited {
    margin-left: 0;
    margin-top: 1rem
  }
}

.subsections:last-child {
  margin-bottom: 3rem
}

.is-link {
  padding: 2px;
  margin: -2px;
  border-bottom: 1px solid #dbdbdb
}

.is-link:hover, .is-link:active {
  border-color: #b5b5b5
}